*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin-top: 20px;
}
/*Testi cards*/
.content {
    padding: 10px;
}

h1 {
    text-align: center;
    color: palevioletred;
    font-family: 'Fredoka';
}

h2{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: 'Fredoka';
}

h5{
    color: white;
    text-align: left;
    margin-top: 10px;
    font-family: 'Fredoka';

}

a{
    float: left;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Fredoka';
    color: lightblue;
    font-weight: bold;
}
/*Fine testi cards*/
p {
    margin-top: 20px;
    text-align: center;
    font-family: arial;
}
/*struttura*/
.card {
    background-color: rgb(1, 1, 48);
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    text-align: center;

}

.row-1{
    margin-top: 50px;
}
.row-1 .col{
    float: left;
    text-align: center;
    width: calc(100% / 3);
    padding: 10px;
}

img {
  width: 100px;
  float: left;
  margin-right: 10px;
}

